.dialog {
    border-radius: 12px;

    &::backdrop {
        background-color: rgba(0, 0, 0, .25);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.heading {
    margin: 0 0 20px;
    
    text-align: center;
    font-size: 1.25rem;
}

.field {
    label {
        display: block;
    }

    &.type {
        display: flex;
        gap: 20px;
    }
}

.submit {
    padding: 12px 24px;
    cursor: pointer;

    border-radius: 8px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--primary);
    color: #ffffff;
}