.selector {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px;
    display: flex;
    gap: 4px;

    border: 1px solid var(--l-black);
    border-radius: 4px;

    a {
        padding: 4px;
        flex-grow: 1;

        border-radius: 4px;
        color: var(--white);
        text-decoration: none;
        text-align: center;

        &[aria-current="page"] {
            background-color: var(--l-black);
        }
    }
}