.main {
  padding: 20px;
  display: grid;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  background-color: var(--l-black);
  border-radius: 8px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }
}