.wrapper {
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  background-color: var(--l-black);
  border-radius: 8px;

  h1 {
    margin-bottom: 20px;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}