* {
  box-sizing: border-box;
}

:root {
  --primary: #42EEBA;

  --white: #ceebe3;
  --black: #262e2c;
  --l-black: #303836;
}

body {
  margin: 0;

  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
  background-color: var(--black);
  color: var(--white);
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 20px 20px 100px;
}