* {
  box-sizing: border-box;
}

:root {
  --primary: #42EEBA;
}

body {
  margin: 0;

  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 20px;
}