.expense {
    padding: 15px 20px;
    position: relative;

    border-radius: 8px;
    background-color: #eeeeee;

    time {
        margin-bottom: 8px;
        display: block;
    }

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.category {
    margin: 0;
    padding: 2px 6px;

    color: white;
    background-color: #5c5c5c;
    border-radius: 4px;
    text-transform: uppercase;
}

.action-button {
    width: 36px;
    height: 36px;
    padding: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    background: none;
    border: none;
    border-radius: 8px;

    transition: 200ms;

    &.edit {
        right: 54px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}